@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #ffff;
    font-size:x-large;
    padding:0;
    margin:0;
    color: black;
        }


nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color:#215828;
    color:rgb(255, 255, 255);
    padding: 1.5% 2%;
}

nav.onglets{
    display: flex;
    flex-wrap:wrap;
     margin-top: 1%; 
}


.container{
    display: flex;
    width: 100%;

}

.left{
     position: relative; 
    float: left;
    width: 33%;
}

.right{
    position: relative; 
    float: right;
    width: 33%;
}

.middle{
    position: relative;  
     float: left; 
    width: 33%;
}

/*footer*/
footer{
    padding: 0.4% 3%;
    background-color: black;
    font-size: 60%;
    color: rgba(245, 245, 220, 0.692);
}

footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}